name: update-all

on:
  schedule:
    - cron: '15 */4 * * *'
  workflow_dispatch:

env:
  REMOTE_REPOSITORY: OpenWRT-fanboy/OpenW1700k

jobs:
  update:
    name: Update ${{ matrix.environment }} branch
    runs-on: ubuntu-slim
    strategy:
      matrix:
        environment: [main, lumos-AUTO, lumos-npu-AUTO, minimal-AUTO, minimal-npu-AUTO]
    permissions:
      contents: write
    environment: ${{ matrix.environment }}
    steps:
      - name: Checkout remote repository
        uses: actions/checkout@v6
        with:
          repository: ${{ env.REMOTE_REPOSITORY }}
          ref: ${{ matrix.environment }}
          fetch-depth: 0
          token: ${{ secrets.REPO_SECRET }}
      - name: Pull updates then push
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com
          git remote add openwrt https://github.com/openwrt/openwrt.git
          git remote update
          git rebase openwrt/main
          git push --force-with-lease
